{% extends "voc2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn vocabularium in.</p>
<p><a href="https://data.vlaanderen.be/doc/applicatieprofiel/loongegevens">Link naar applicatieprofiel (te verwerken in samenvatting)</a></p>
{% endblock %}
