{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel werd ontwikkeld om binnen het domein "inkomen" de verschillende datastromen met betrekking tot dit domein semantisch te modelleren en de structuur van de data te standaardiseren. Voor veel dienstverleningen is het belangrijk dat er kan ingespeeld worden op de actuele inkomenssituatie van een persoon. O.a. volgende elementen met betrekking tot looninformatie worden gecapteerd in dit applicatieprofiel: metadata zoals informatie over de werkgever en gegevens van de loonfiche, het bruto belastbaar inkomen, details over het nettoloon zoals maaltijdcheques, bedrijfsvoorheffing, premies, ... Het applicatieprofiel is generiek opgesteld maar is toch in staat om de nodige mate van detail aan te leveren. Enkel de data die strikt noodzakelijk is, wordt gedeeld. Dit applicatieprofiel voor loongegevens kan dienen als documentatie voor analisten en ontwikkelaars.</p>
{% endblock %}
