{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Loongegevens definieert de klassen en eigenschappen die worden gebruikt in het bijhorende applicatieprofiel om de actuele inkomenssituatie van een persoon te beschrijven.</p>
{% endblock %}
