{% extends "ap2.j2" %}

{% block summary %}
<p>Vul hier een samenvatting van mijn applicatieprofiel in.</p>
<p><a href="https://data.vlaanderen.be/ns/loongegevens">Link naar vocabularium ter verwerken in samenvatting</a></p>
{% endblock %}
